*{
  margin:0;
  padding:0;
  box-sizing: 0;
}
body{
  background-color:black;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

.cont{
  width:900px;
  font-size:24px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin:auto;
  border:1px solid gray;
  height:auto;
  margin-top:300px;
  padding:100px;
  line-height: 1.2;
  box-shadow: 0px 2px 10px white;
  overflow: hidden;
}
.cont p{
  font-size:14px;
  margin-top:20px;
  line-height: 1.2;
  display:none;
}
.cont button{
  padding:10px 30px;
  margin-top:20px;
}
.tf{
  display:flex;
  justify-content: center;
  align-items:center;
  margin:auto;
  position: absolute;
  top:0.8%;
  left:45%;
  display:none;
}
@media screen and (max-width: 500px){
  .cont{
    width:200px;
    padding:10px 10px;
    font-size:12px;
    margin-top:100px;
    margin-bottom: 50px;
  }
  
  
  
}
#jee{
  width:150%;
  display:none;
}